.logo {
  width: 228px;
  height: 32px;
}

.text-color__white {
  color: white;
}

.logo {
  width: 228px;
  height: 32px;
}

.table {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto 0 auto;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 0 20px 0;
}

.table__text_margin {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.footer__column-links_paragraph {
  padding: 0;
  margin: 0;
}

.footer_column-link_none-underline {
  text-decoration: none;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0 0 100px 0;
  /* выше установили ограничения для секции */
}

.logo_plase_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
}

.description__columns {
  display: flex;
  justify-content: space-between;
  width: 80%;

}

.two-columns {
  width: 175px;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin: 0px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: 0 0 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  padding: 0;
  margin: 0 auto 20px auto;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  position: relative;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  padding: 0;
  margin: 0 auto 0 auto;
  position: relative;
  z-index: 1;
}

.table__cell {
  width: 250px;
  padding: 0;
  margin: 60px 0 0 0;
}

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 0;
}

.feynman__title-block {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.feynman__title {
  text-align: center;
  position: relative;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  z-index: 3;
  width: 648px;
  margin: 0;
  padding: 0;
}

.feynman__subtitle {
  text-align: center;
  position: relative;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 3;
  padding-top: 70px;
  margin: 0;
  padding: 70px 0 0 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  z-index: 3;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 90px 0 90px 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman_triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.footer__columns_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  justify-content: start;
}

.footer__autor {
  justify-content: end;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 16px 0;
}

.social-icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 10px 0 0;
}